@use "styles/mixin";
@use "styles/breakpoints";

.component {
  color: var(--fontBlack);
  padding: 5.2% 0;

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 40px 0 0 0;
  }
}

.wrapper {
  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0;
  }
}

.container {
  display: flex;
  height: 100%;
  gap: 10%;

  @include mixin.media-w(breakpoints.$skillCards) {
    flex-direction: column;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 40%;

  @include mixin.media-w(breakpoints.$skillCards) {
    width: 69%;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding: 0 40px;
  }
  
  @include mixin.media-w(breakpoints.$laptop-s) {
    padding: 0 20px;
    width: 100%;
  }
}

.subtitle {
  margin: 11.9% 0 9.5% 0;
  @include mixin.fluidFont(23, 26, 1920);

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 26px;
  }

  @include mixin.media-w(breakpoints.$skillCards) {
    width: 100%;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    @include mixin.fluidFont(20, 24, 1024);
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    margin: 20px 0 28px 0;
  }
}

.skillCardsContainer {
  width: 50%;
  
  @include mixin.media-w(breakpoints.$skillCards) {
    width: 100%;
    margin-top: 7.7%;
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    margin-top: 40px;
  }
}
