@use "styles/mixin";
@use "styles/breakpoints";

.component {
  background-color: var(--ctaYellow);
  border: none;
  border-radius: 44px;
  color: var(--fontBlack);
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
  position: relative;
  line-height: 100%;
}

.component:hover {
  transition: 0.2s ease-in;
}

.sizeS {
	width: fit-content;
  padding: 20.5px 36px;
  @include mixin.fluidFont(12, 26, 1920);
  min-width: 203px;
  white-space: nowrap;

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 26px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    height: 52px;
    padding: 15px 45px;
  }
}

.sizeM {
  width: fit-content;
	padding: 21px 51.5px;
  @include mixin.fluidFont(12, 26, 1920);
  white-space: nowrap;

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 26px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    height: 52px;
    padding: 15px 45px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    @include mixin.maxWidth(390px);
  }
}

.sizeL {
  @include mixin.maxWidth(380px);
	padding: 14px 14px 14px 40px;
  @include mixin.fluidFont(18, 32, 1920);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixin.media-minW(breakpoints.$desktop) {
    font-size: 32px;
  }

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 8px 8px 8px 32px;
    @include mixin.maxWidth(281px);
  }

  @include mixin.media-w(breakpoints.$mobile) {
    @include mixin.maxWidth(390px);
  }
}

.sizeReg {
  padding: 10.5px 19.5px;
  font-size: 16px;
}

.sizeNone {
  border-radius: 0;
  background-color: transparent;
}

.logoButton:active {
  background-color: rgba(244,	234,	112, 0.9)
}

.burgerButton {
  @include mixin.media-w(breakpoints.$laptop) {
    width: 16px;
    height: 38px;
  }
}

.scrollButton {
  position: fixed;
  border: 2px solid var(--ctaYellow);
  border-radius: 120px;
  width: 90px;
  height: 90px;
  right: 60px;
  top: 80%;
  background-color: var(--bgBlack);
  z-index: 5;

  @include mixin.media-w(breakpoints.$laptop-l) {
    right: 40px;
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    right: 20px;
  }
}

.scrollButton:hover {
  border: 2px solid var(--bgBlack);
  background-color: var(--ctaYellow);
}

.scrollButton:active {
  border: 2px solid var(--bgBlack);
  background-color: var(--white);
}
