@use "styles/mixin";
@use "styles/breakpoints";

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 100px));
  }
}

@include mixin.media-w(breakpoints.$laptop-l) {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 50px));
    }
  }
}

.component {
  display: flex;
  overflow: hidden;
  position: relative;
  gap: 100px;

  @include mixin.media-w(breakpoints.$laptop-l) {
    gap: 50px;
  }
}

.sliderTrack {
  animation: scroll 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  gap: 100px;
  flex-shrink: 0;
  margin-top: 10%;

  @include mixin.media-w(breakpoints.$laptop-l) {
    gap: 50px;
  }
}

.image {
  height: 59px;
  filter: contrast(0);

  @include mixin.media-w(breakpoints.$laptop) {
    width: fit-content;
    height: 49px;
  }

  @include mixin.media-w(breakpoints.$laptop-l) {
    height: 28px;
  }
}

.image:hover {
  filter: contrast(1);
}
