:root {
  --ctaYellow: #F4EA70;
  --bgBlack: #151515;
  --white: #FFFFFF;
  --fontBlack: #1A1B2D;
  --fontGray: #B8B8B8;
  --bgGray: #1A292C;
  --borderGray: #A1A3A5;
  --bgHoverGray: #E6E6E6;
  --errorRed: #FF2435; 
}

*, *:after, *:before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--white);
  height: 100%;
  background-color: var(--white);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

address {
  font-style: normal;
}
