@use "styles/mixin";
@use "styles/breakpoints";

.component {
  width: 17%;
  position: relative;
  min-width: 165px;
  min-height: 27.4px;
}

.sizeS {
  @include mixin.media-w(breakpoints.$laptop-s) {
    min-width: 95.8px;
    min-height: 21.7px;
  }
}
