@use "styles/mixin";
@use "styles/breakpoints";

.component {
  width: 46%;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include mixin.fluidFont(8, 32, 1920);
  white-space: nowrap;
}

.activeBurger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 500;
  align-items: flex-start;
  height: 39.5%;
  white-space: nowrap;
}

.columnDirection {
  @include mixin.media-w(breakpoints.$laptop) {
    @include mixin.fluidFont(14, 16, 1024);
  }

  @include mixin.media-w(breakpoints.$laptop-m) {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
}
