@use "styles/mixin";

.component {
  @include mixin.maxWidth(847px);
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 32px;
}

.listItem {
  padding: 0 30px;
}
