@use "styles/mixin";
@use "styles/breakpoints";

.component {
  background-color: var(--bgGray);
}

.contentWrapper {
  display: flex;
  padding: 6.8% 0 4.9% 0;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$laptop-m) {
    flex-direction: column;
    padding: 40px 0;
  }
}

.titleWrapper {
  @include mixin.maxWidth(671px);
  width: 39.7%;

  @include mixin.media-w(breakpoints.$laptop-m) {
    width: 100%;
  }
}

.subtitle {
  margin: 13.2% 0 9.4% 0;
  color: var(--fontGray);
  @include mixin.fluidFont(22, 26, 1920);

  @include mixin.media-w(breakpoints.$laptop-m) {
    margin: 20px 0;
    @include mixin.fluidFont(20, 24, 1920);
  }
}
