@use "styles/mixin";
@use "styles/breakpoints";

.subtitle {
  @include mixin.fluidFont(18, 32, 1920);
  font-weight: 600;
  margin-bottom: 12.4%;

  @include mixin.media-w(breakpoints.$laptop) {
    @include mixin.fluidFont(14, 24, 1024);
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    font-weight: 500;
    margin-bottom: 14px;
  }
}

.subtitle:last-child {
  text-decoration: underline;
}
