@use "styles/mixin";
@use "styles/breakpoints";

.component {
  height: 58.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  @include mixin.fluidFont(18, 32, 1920);
  font-weight: 600;

  @include mixin.media-w(breakpoints.$laptop) {
    @include mixin.fluidFont(14, 24, 1024);
  }

  @include mixin.media-w(breakpoints.$laptop-s) {
    font-weight: 500;
  }
}

.subtitle:last-child {
  text-decoration: underline;
}
